<!-- app/views/flashcards/create.html.erb -->
<h1>Flashcard created successfully!</h1>
<p>Term: <%= @flashcard.term %></p>
<p>Translation: <%= @flashcard.translation %></p>
<%= link_to 'Back to Flashcards', flashcards_path %>
