<!-- app/views/learn_eng/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Learn English</title>
</head>
<body>
  <div style="text-align: center; margin-top: 50px;">
    <table border="1" cellpadding="10">
      <tr>
        <td>Word</td>
      </tr>
      <tr>
        <td>dog</td> <!-- Ваше слово тут -->
      </tr>
    </table>
  </div>
</body>
</html>
