<!DOCTYPE html>
<html>
<head>
  <title>Flashcards App</title>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'All Users', users_path %></li>
      <li><%= link_to 'All Flashcards', flashcards_path %></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
